@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/fira-sans.woff2') format('woff2');
}

:root {
    --theme-style: dark;
    
    --main-font-family: 'Fira Sans', sans-serif !important;
    --main-font-size: normal;
    --tree-font-family: inherit;
    --tree-font-size: normal;
    --detail-font-family: inherit;
    --detail-font-size: normal;
    --detail-text-font-family: 'Fira Sans', sans-serif !important;

    --main-background-color: #383144;
    --main-text-color: #D5BDD6;
    --main-border-color: #87778D;

    --accented-background-color: #473E56;
    --more-accented-background-color: #383144;
    
    --button-background-color: #473E56;
    --button-disabled-background-color: #383144;
    --button-border-color: #87778D;
    --button-text-color: #D5BDD6;
    --button-border-radius: 15px;
    --primary-button-background-color: #383144;
    --primary-button-text-color: #D5BDD6;
    --primary-button-border-color: #87778D;
    --muted-text-color: #87778D;
    --input-text-color: #D5BDD6;
    --input-background-color: #473E56;
    --hover-item-text-color: #D5BDD6;
    --hover-item-background-color: #473E56;
    --active-item-text-color: #D5BDD6;
    --active-item-background-color: #473E56;
    --menu-text-color: #D5BDD6;
    --menu-background-color: #383144;
    --tooltip-background-color: #473E56;
    --link-color: #D5BDD6;
    --modal-background-color: #383144;
    --modal-backdrop-color: black;
    --scrollbar-border-color: #87778D;

    --left-pane-background-color: #383144;
    --left-pane-text-color: #D5BDD6;

    --launcher-pane-background-color: #383144;
    --launcher-pane-text-color: #D5BDD6;

    --active-tab-background-color: #473E56;
    --active-tab-text-color: #D5BDD6;

    --inactive-tab-background-color: #383144;
    --inactive-tab-text-color: #D5BDD6;
}

body .note-detail-text {
    font-size: 120%;
}

body #launcher-pane div,
body #launcher-pane div *,
body #launcher-pane span {
    background-color: var(--launcher-pane-background-color);
    border-radius: 50%;
}

body #launcher-pane div:hover * {
    background-color: var(--hover-item-background-color);
}

body #left-pane .btn:not(.btn-primary) {
    background-color: var(--launcher-pane-background-color);
}

body .CodeMirror {
    filter: invert(100%) hue-rotate(300deg) saturate(80%);
/*    background-color: #f7f8f6 !important; */
}

body .bx.icon-action {
    border-radius: 50%;
}

body span.fancytree-node.done, body span.fancytree-node.todo{
    filter: saturate(30%) brightness(180%);
}
